[submodule "DiligentCore"]
	path = DiligentCore
	url = https://github.com/DiligentGraphics/DiligentCore.git
[submodule "DiligentTools"]
	path = DiligentTools
	url = https://github.com/DiligentGraphics/DiligentTools.git
[submodule "DiligentSamples"]
	path = DiligentSamples
	url = https://github.com/DiligentGraphics/DiligentSamples.git
[submodule "DiligentFX"]
	path = DiligentFX
	url = https://github.com/DiligentGraphics/DiligentFX.git
[submodule "thirdparty/fibertaskinglib"]
	path = thirdparty/fibertaskinglib
	url = git@github.com:RichieSams/FiberTaskingLib.git
[submodule "thirdparty/arcball_camera"]
	path = thirdparty/arcball_camera
	url = git@github.com:raptoravis/arcball_camera.git
[submodule "thirdparty/flythrough_camera"]
	path = thirdparty/flythrough_camera
	url = git@github.com:raptoravis/flythrough_camera.git
